QScrollBar:vertical {
background: none;
border-radius: 5px;
width: 14px;
margin: 1px;
}

QScrollBar:vertical:hover {

}

QScrollBar::handle:vertical {
background: qlineargradient(x1:0, y1:0, x2:1, y2:0,
stop: 0.5 white, stop: 0 silver,
stop: 1 silver, stop: 0.5 white);
border-radius: 5px;
min-height: 32px;
border: 1px outset grey;
}

QScrollBar::handle:vertical:hover {
background: qlineargradient(x1:0, y1:0, x2:1, y2:0,
stop: 0.5 white, stop: 0 darkgray,
stop: 1 darkgray, stop: 0.5 white);
}

QScrollBar:horizontal {
background: none;
border-radius: 5px;
height: 14px;
margin: 1px;
}

QScrollBar:horizontal:hover {
}

QScrollBar::handle:horizontal {
background: qlineargradient(x1:0, y1:0, x2:0, y2:1,
stop: 0 silver, stop: 0.5 white,
stop: 0.5 white, stop: 1 silver);
border-radius: 5px;
min-width: 32px;
border: 1px outset grey;
}

QScrollBar::handle:horizontal:hover {
background: qlineargradient(x1:0, y1:0, x2:0, y2:1,
stop: 0 darkgray, stop: 0.5 white,
stop: 0.5 white, stop: 1 darkgray);
}

QScrollBar::sub-line:vertical,
QScrollBar::add-line:vertical,
QScrollBar::add-page:vertical,
QScrollBar::sub-page:vertical {
height: 0px;
}

QScrollBar::sub-line:horizontal,
QScrollBar::add-line:horizontal,
QScrollBar::add-page:horizontal,
QScrollBar::sub-page:horizontal {
width: 0px;
}

QSplitter::handle:horizontal {
background: qlineargradient(x1:0, y1:0, x2:1, y2:0,
stop: 0.5 silver, stop: 0 white,
stop: 1 white, stop: 0.5 silver);
border: 1px solid gray;
width: 4px;
margin: 0px 2px 0px 2px;
}

QSplitter::handle:horizontal:hover {
background: qlineargradient(x1:0, y1:0, x2:1, y2:0,
stop: 0.5 darkgray, stop: 0 white,
stop: 1 white, stop: 0.5 darkgray);
}

QSplitter::handle:vertical {
background: qlineargradient(x1:0, y1:0, x2:0, y2:1,
stop: 0 silver, stop: 0.5 white,
stop: 0.5 white, stop: 1 silver);
border: 1px solid gray;
height: 4px;
margin: 2px 0px 2px 0px;
}

QSplitter::handle:vertical:hover {
background: qlineargradient(x1:0, y1:0, x2:0, y2:1,
stop: 0 darkgray, stop: 0.5 white,
stop: 0.5 white, stop: 1 darkgray);
}

/*QSplitter::handle {
image: url(images/splitter.png);
}

QSplitter::handle:pressed {
image: url(images/splitter_pressed.png);
}*/
